<div class="container">
  <h1><%= t 'menu.contact' %></h1>

  <div class="row">
    <div class="col-md-6">
      <h3><%= t 'legal.address'%></h3>
      <address>
        <strong>Hardanger Feriesenter AS</strong><br>
        Hardangerfjordvegen 341<br>
        5600 Norheimsund<br>
        Norwegen<br>

      </address>
    </div>
  </div>
  
  <br/>

  <p><%= t 'general.have_questions_call' %></p>

</div>